<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>for</string>
		<string>if</string>
		<string>else</string>
		<string>while</string>
		<string>do</string>
		<string>function</string>
		<string>procedure</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>3dcal</string>
		<string>3dcubin</string>
		<string>3dexpand</string>
		<string>3dmegacal</string>
		<string>3dmerge</string>
		<string>3dnorm</string>
		<string>3dspec</string>
		<string>abs</string>
		<string>acos</string>
		<string>acosh</string>
		<string>airy</string>
		<string>arg</string>
		<string>asin</string>
		<string>asinh</string>
		<string>atan</string>
		<string>atanh</string>
		<string>avg</string>
		<string>bessel</string>
		<string>bezier</string>
		<string>bezier1d</string>
		<string>bintablecol</string>
		<string>boxcar</string>
		<string>break</string>
		<string>bytearray</string>
		<string>calday</string>
		<string>cblank</string>
		<string>cd</string>
		<string>center</string>
		<string>centroid</string>
		<string>centroids</string>
		<string>char</string>
		<string>chinhat</string>
		<string>circle</string>
		<string>cirrange</string>
		<string>clean</string>
		<string>clip</string>
		<string>cnotation</string>
		<string>colint</string>
		<string>collapse</string>
		<string>colsrf</string>
		<string>coltab</string>
		<string>compile</string>
		<string>complex</string>
		<string>complexarray</string>
		<string>conj</string>
		<string>contour</string>
		<string>convolve</string>
		<string>copyheader</string>
		<string>correl</string>
		<string>correlmap</string>
		<string>cos</string>
		<string>cosbell</string>
		<string>cosh</string>
		<string>cubeavg</string>
		<string>cubemaximum</string>
		<string>cubemedian</string>
		<string>cubemerge</string>
		<string>cubeminimum</string>
		<string>cubequantile</string>
		<string>dayofweek</string>
		<string>debug</string>
		<string>deg2rad</string>
		<string>deletefitskey</string>
		<string>delta</string>
		<string>dir</string>
		<string>display</string>
		<string>double</string>
		<string>doublearray</string>
		<string>dpixapply</string>
		<string>dpixcreate</string>
		<string>echo</string>
		<string>ellipse</string>
		<string>ellipticalprofile</string>
		<string>enlarge</string>
		<string>erf</string>
		<string>evalgaussfit</string>
		<string>evalmpfit</string>
		<string>evalvelmap</string>
		<string>exec</string>
		<string>exp</string>
		<string>export</string>
		<string>fft</string>
		<string>fileexists</string>
		<string>filesize</string>
		<string>find</string>
		<string>findfile</string>
		<string>fits</string>
		<string>flip</string>
		<string>float</string>
		<string>floatarray</string>
		<string>fortrannotation</string>
		<string>frac</string>
		<string>freddy</string>
		<string>free</string>
		<string>fwhm</string>
		<string>fxcor</string>
		<string>gammp</string>
		<string>gauss</string>
		<string>gauss2dfit</string>
		<string>gauss2dsimplefit</string>
		<string>gaussfit</string>
		<string>gausspos</string>
		<string>getbitpix</string>
		<string>getenv</string>
		<string>getfitskey</string>
		<string>header</string>
		<string>histogram</string>
		<string>identifylines</string>
		<string>imag</string>
		<string>imexa</string>
		<string>import</string>
		<string>indexbase</string>
		<string>int</string>
		<string>interpol</string>
		<string>interpolate</string>
		<string>invert</string>
		<string>isinf</string>
		<string>isnan</string>
		<string>isvariable</string>
		<string>jd</string>
		<string>jdfraction</string>
		<string>jdnumber</string>
		<string>limits</string>
		<string>list</string>
		<string>listfitsextensions</string>
		<string>listtablecolumns</string>
		<string>lmst</string>
		<string>ln</string>
		<string>log</string>
		<string>longarray</string>
		<string>longslit</string>
		<string>lower</string>
		<string>lucy</string>
		<string>magnify</string>
		<string>markpos</string>
		<string>max</string>
		<string>maxentropy</string>
		<string>maxima</string>
		<string>meandev</string>
		<string>meddev</string>
		<string>median</string>
		<string>mem</string>
		<string>message</string>
		<string>min</string>
		<string>mjd</string>
		<string>moffat</string>
		<string>mosaic</string>
		<string>mpfit</string>
		<string>mpfitvars</string>
		<string>multigauss2dfit</string>
		<string>multigaussfit</string>
		<string>naxis</string>
		<string>naxis1</string>
		<string>naxis2</string>
		<string>naxis3</string>
		<string>nelements</string>
		<string>newbuffer</string>
		<string>norm</string>
		<string>now</string>
		<string>nparams</string>
		<string>pgarro</string>
		<string>pgask</string>
		<string>pgaxis</string>
		<string>pgband</string>
		<string>pgbbuf</string>
		<string>pgbeg</string>
		<string>pgbegin</string>
		<string>pgbin</string>
		<string>pgbox</string>
		<string>pgcirc</string>
		<string>pgclos</string>
		<string>pgconb</string>
		<string>pgconf</string>
		<string>pgconl</string>
		<string>pgcons</string>
		<string>pgcont</string>
		<string>pgconx</string>
		<string>pgctab</string>
		<string>pgcurs</string>
		<string>pgcurse</string>
		<string>pgdraw</string>
		<string>pgebuf</string>
		<string>pgend</string>
		<string>pgenv</string>
		<string>pgeras</string>
		<string>pgerr1</string>
		<string>pgerrb</string>
		<string>pgerrx</string>
		<string>pgerry</string>
		<string>pgetxt</string>
		<string>pgfunt</string>
		<string>pgfunx</string>
		<string>pgfuny</string>
		<string>pggray</string>
		<string>pghi2d</string>
		<string>pghist</string>
		<string>pgiden</string>
		<string>pgimag</string>
		<string>pglab</string>
		<string>pglabel</string>
		<string>pglcur</string>
		<string>pgldev</string>
		<string>pglen</string>
		<string>pgline</string>
		<string>pgmove</string>
		<string>pgmtext</string>
		<string>pgmtxt</string>
		<string>pgncur</string>
		<string>pgncurse</string>
		<string>pgnumb</string>
		<string>pgolin</string>
		<string>pgopen</string>
		<string>pgpage</string>
		<string>pgpanl</string>
		<string>pgpap</string>
		<string>pgpaper</string>
		<string>pgpixl</string>
		<string>pgpnts</string>
		<string>pgpoint</string>
		<string>pgpoly</string>
		<string>pgpt</string>
		<string>pgpt1</string>
		<string>pgptext</string>
		<string>pgptxt</string>
		<string>pgqah</string>
		<string>pgqcf</string>
		<string>pgqch</string>
		<string>pgqci</string>
		<string>pgqcir</string>
		<string>pgqclp</string>
		<string>pgqcol</string>
		<string>pgqcr</string>
		<string>pgqcs</string>
		<string>pgqdt</string>
		<string>pgqfs</string>
		<string>pgqhs</string>
		<string>pgqid</string>
		<string>pgqinf</string>
		<string>pgqitf</string>
		<string>pgqls</string>
		<string>pgqlw</string>
		<string>pgqndt</string>
		<string>pgqpos</string>
		<string>pgqtbg</string>
		<string>pgqtxt</string>
		<string>pgqvp</string>
		<string>pgqvsz</string>
		<string>pgqwin</string>
		<string>pgrect</string>
		<string>pgrnd</string>
		<string>pgrnge</string>
		<string>pgsah</string>
		<string>pgsave</string>
		<string>pgscf</string>
		<string>pgsch</string>
		<string>pgsci</string>
		<string>pgscir</string>
		<string>pgsclp</string>
		<string>pgscr</string>
		<string>pgscrl</string>
		<string>pgscrn</string>
		<string>pgsfs</string>
		<string>pgshls</string>
		<string>pgshs</string>
		<string>pgsitf</string>
		<string>pgslct</string>
		<string>pgsls</string>
		<string>pgslw</string>
		<string>pgstbg</string>
		<string>pgsubp</string>
		<string>pgsvp</string>
		<string>pgswin</string>
		<string>pgtbox</string>
		<string>pgtext</string>
		<string>pgtick</string>
		<string>pgunsa</string>
		<string>pgupdt</string>
		<string>pgvect</string>
		<string>pgvport</string>
		<string>pgvsiz</string>
		<string>pgvsize</string>
		<string>pgvstand</string>
		<string>pgvstd</string>
		<string>pgwedg</string>
		<string>pgwindow</string>
		<string>pgwnad</string>
		<string>photometry</string>
		<string>pi</string>
		<string>pixpos</string>
		<string>plot</string>
		<string>polar</string>
		<string>poly</string>
		<string>polyfit</string>
		<string>polyfit2d</string>
		<string>polyfit2derr</string>
		<string>polyfitxy</string>
		<string>polyfitxyerr</string>
		<string>polyroots</string>
		<string>precess</string>
		<string>primes</string>
		<string>print</string>
		<string>printf</string>
		<string>psf</string>
		<string>pwd</string>
		<string>python</string>
		<string>pyvar</string>
		<string>qtscript</string>
		<string>quantile</string>
		<string>question</string>
		<string>quickgauss</string>
		<string>rad2deg</string>
		<string>radialplot</string>
		<string>radialprofile</string>
		<string>random</string>
		<string>randomg</string>
		<string>read</string>
		<string>readfits</string>
		<string>readfitsall</string>
		<string>readfitsbintable</string>
		<string>readfitsextension</string>
		<string>real</string>
		<string>reass</string>
		<string>rebin</string>
		<string>rebin1d</string>
		<string>rect</string>
		<string>reform</string>
		<string>replace</string>
		<string>resize</string>
		<string>right</string>
		<string>rotate</string>
		<string>round</string>
		<string>run</string>
		<string>sao</string>
		<string>saoclear</string>
		<string>saomark</string>
		<string>saomarklabel</string>
		<string>saomarkpoint</string>
		<string>sb2srf</string>
		<string>sbball</string>
		<string>sbcone</string>
		<string>sbcpln</string>
		<string>sbelip</string>
		<string>sbfbkg</string>
		<string>sbfcls</string>
		<string>sbfint</string>
		<string>sbfsav</string>
		<string>sbline</string>
		<string>sbplan</string>
		<string>sbplnt</string>
		<string>sbrod</string>
		<string>sbslic</string>
		<string>sbsurf</string>
		<string>sbtbal</string>
		<string>sbtext</string>
		<string>sbtsur</string>
		<string>sersic2d</string>
		<string>sersic2dfit</string>
		<string>sersic2dsimplefit</string>
		<string>sersic2dsmoothfit</string>
		<string>sersic2dsmoothsimplefit</string>
		<string>sersicfit</string>
		<string>setbitpix</string>
		<string>setenv</string>
		<string>setfitskey</string>
		<string>setindexbase</string>
		<string>setwcs</string>
		<string>shade</string>
		<string>shift</string>
		<string>shortarray</string>
		<string>shrink</string>
		<string>sign</string>
		<string>simplifywhitespace</string>
		<string>sin</string>
		<string>sincfit</string>
		<string>sinfit</string>
		<string>sinh</string>
		<string>sleep</string>
		<string>smooth</string>
		<string>sort</string>
		<string>spec3d</string>
		<string>spifficube</string>
		<string>spiffishift</string>
		<string>spiffiuncube</string>
		<string>sprintf</string>
		<string>sqrt</string>
		<string>ssa</string>
		<string>ssaplot</string>
		<string>ssaselect</string>
		<string>ssastat</string>
		<string>sssa</string>
		<string>stddev</string>
		<string>straightlinefit</string>
		<string>string</string>
		<string>stringarray</string>
		<string>strlen</string>
		<string>strpos</string>
		<string>strsplit</string>
		<string>strtrim</string>
		<string>surface</string>
		<string>swapaxes</string>
		<string>swapbytes</string>
		<string>swsa</string>
		<string>tan</string>
		<string>tanh</string>
		<string>ten</string>
		<string>test2dfit</string>
		<string>test2dfit</string>
		<string>total</string>
		<string>transcoords</string>
		<string>transform</string>
		<string>transmatrix</string>
		<string>transpoly</string>
		<string>transpose</string>
		<string>twodcut</string>
		<string>upper</string>
		<string>userDialog</string>
		<string>variance</string>
		<string>velmap</string>
		<string>version</string>
		<string>view</string>
		<string>voronoi</string>
		<string>watchdir</string>
		<string>wien</string>
		<string>worldpos</string>
		<string>writebmp</string>
		<string>writefits</string>
		<string>wsa</string>
		<string>wsastat</string>
		<string>xcen</string>
		<string>xmax</string>
		<string>xmin</string>
		<string>ycen</string>
		<string>ymax</string>
		<string>ymin</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>DPU_</string>
	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>BBLMLanguageDisplayName</key>
	<string>DPUser</string>
	<key>BBLMScansFunctions</key>
	<true/>
		<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.dpuser</string>
		</dict>
		
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Close Parameter Lists</key>
		<string></string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Close Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>End-of-line Ends Strings 2</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string></string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Parameter Lists</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Open Strings 2</key>
		<string></string>
		<key>Prefix for Functions</key>
		<string>function</string>
		<key>Prefix for Procedures</key>
		<string>procedure</string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
